.main_content{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 50%;
    margin:auto;
    font-size: calc(10px + 2vmin);
    margin-top: 100px;
}
.intro h1{
    text-shadow: none;
    transition: 0.05s text-shadow;
}

.intro h1:hover{
    text-shadow: 3px 3px red;
}